*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    /*background-color: rgb(15 23 42);*/
    background-color: #001B2E;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

table{
    width: 100%;
    color: white;
    border: 1px solid #2b3b63;
}

tr:nth-child(even) {
    background-color: #334874;
}

th{
    background-color: #1E293B;
    color: #CDC392;
    padding: 10px;
}

td{
    text-align: center;
    padding: 10px;
}

.empty{
    color: #CDC392;
    font-size: 20px;
}

.empty-icon{
    width: 64px;
    filter: brightness(100%) contrast(0%);
}

.add-btn{
    float: right;
    background-color: #16A34A;
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin: 7px 8px 15px;
}

.add-btn:hover{
    transform: translateY(-5px);
    transition: transform 0.3s;
    cursor: pointer;
}

h1, p{
    color: rgb(226, 225, 225);
}

.description{
    display: flex;
    flex-wrap: wrap;
}

label{
    color: white;
}

#add-trans-cont{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    background: rgba(72, 72, 72, 0.592);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }

input, select{
    padding: 9px;
    border-radius: 10px;
    width: 95%;
    border: solid 1px black;
    font-weight: bold;
    font-size: 15px;
}

.exit-icon{
    float: left;
    width: 32px;
    margin-bottom: 30px;
    filter: brightness(100%) contrast(0%);
}

.post-btn{
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin: 7px 8px 15px;
    color: white;
    background-color: #334874;
    width: 90px;
    cursor: pointer;
}